# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.war
*.ear


# IDE Project Files #
.idea
*.sublime-*
out/

# Dashboard test coverage information
src/web/app-test/coverage/
target
.DS_Store

