<div class="panel panel-primary">
    <div class="panel-heading">
        Administrators
    </div>
    <div class="panel-body">

        <table class="table">
            <tr data-ng-repeat="admin in adminUserCtrl.admins">
                <td>{{admin}}</td>
                <td>
                    <button data-ng-click="adminUserCtrl.demoteUser(admin)" type="button" class="btn btn-danger pull-right">Revoke Admin Rights</button>
                </td>
            </tr>
        </table>

    </div>
</div>

<div class="panel panel-primary">
    <div class="panel-heading">
        Users
    </div>
    <div class="panel-body">

        <table class="table">
            <tr data-ng-repeat="user in adminUserCtrl.users">
                <td>{{user}}</td>
                <td>
                    <button data-ng-click="adminUserCtrl.promoteUser(user)" type="button" class="btn btn-success pull-right">Grant Admin Rights</button>
                </td>
            </tr>
        </table>

    </div>
</div>
