<date-span-selection
    date-format="{{adminBillingCtrl.dateFormat}}"
    on-date-changed="adminBillingCtrl.onDateChanged(from, to)"
    default-value="{{adminBillingCtrl.defaultDate}}"></date-span-selection>

<div class="panel panel-primary">
    <div class="panel-heading">
        Users
    </div>
    <div class="panel-body">

        <table class="table">
            <tr data-ng-repeat="user in adminBillingCtrl.users">
                <td>{{user}}</td>
                <td>
                    <button
                        data-ng-click="adminBillingCtrl.showExistingBills(user)"
                        type="button"
                        class="btn btn-warning pull-right">Existing Bills</button>
                </td>
                <td>
                    <button
                        data-ng-click="adminBillingCtrl.generateBill(user)"
                        type="button"
                        class="btn btn-success pull-right">Generate Bill</button>
                </td>
            </tr>
        </table>
    </div>
</div>
