<!-- Navigation -->
<nav class="navbar navbar-default navbar-static-top" role="navigation" style="margin-bottom: 0">
    <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="#">Cyclops Dashboard</a>
    </div>
    <!-- /.navbar-header -->

    <ul class="nav navbar-top-links navbar-right">
        <li class="dropdown">
            <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                <i class="fa fa-envelope fa-fw"></i>  <i class="fa fa-caret-down"></i>
            </a>
            <ul class="dropdown-menu dropdown-messages">
                <li>
                    <a href="#">
                        <div>
                            <strong>John Smith</strong>
                            <span class="pull-right text-muted">
                                <em>Yesterday</em>
                            </span>
                        </div>
                        <div>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque eleifend...</div>
                    </a>
                </li>
                <li class="divider"></li>
                <li>
                    <a href="#">
                        <div>
                            <strong>John Smith</strong>
                            <span class="pull-right text-muted">
                                <em>Yesterday</em>
                            </span>
                        </div>
                        <div>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque eleifend...</div>
                    </a>
                </li>
                <li class="divider"></li>
                <li>
                    <a href="#">
                        <div>
                            <strong>John Smith</strong>
                            <span class="pull-right text-muted">
                                <em>Yesterday</em>
                            </span>
                        </div>
                        <div>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque eleifend...</div>
                    </a>
                </li>
                <li class="divider"></li>
                <li>
                    <a class="text-center" href="#">
                        <strong>Read All Messages</strong>
                        <i class="fa fa-angle-right"></i>
                    </a>
                </li>
            </ul>
            <!-- /.dropdown-messages -->
        </li>
        <!-- /.dropdown -->
        <li class="dropdown">
            <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                <i class="fa fa-tasks fa-fw"></i>  <i class="fa fa-caret-down"></i>
            </a>
            <ul class="dropdown-menu dropdown-tasks">
                <li>
                    <a href="#">
                        <div>
                            <p>
                                <strong>Task 1</strong>
                                <span class="pull-right text-muted">40% Complete</span>
                            </p>
                            <div class="progress progress-striped active">
                                <div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="40" aria-valuemin="0" aria-valuemax="100" style="width: 40%">
                                    <span class="sr-only">40% Complete (success)</span>
                                </div>
                            </div>
                        </div>
                    </a>
                </li>
                <li class="divider"></li>
                <li>
                    <a href="#">
                        <div>
                            <p>
                                <strong>Task 2</strong>
                                <span class="pull-right text-muted">20% Complete</span>
                            </p>
                            <div class="progress progress-striped active">
                                <div class="progress-bar progress-bar-info" role="progressbar" aria-valuenow="20" aria-valuemin="0" aria-valuemax="100" style="width: 20%">
                                    <span class="sr-only">20% Complete</span>
                                </div>
                            </div>
                        </div>
                    </a>
                </li>
                <li class="divider"></li>
                <li>
                    <a href="#">
                        <div>
                            <p>
                                <strong>Task 3</strong>
                                <span class="pull-right text-muted">60% Complete</span>
                            </p>
                            <div class="progress progress-striped active">
                                <div class="progress-bar progress-bar-warning" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: 60%">
                                    <span class="sr-only">60% Complete (warning)</span>
                                </div>
                            </div>
                        </div>
                    </a>
                </li>
                <li class="divider"></li>
                <li>
                    <a href="#">
                        <div>
                            <p>
                                <strong>Task 4</strong>
                                <span class="pull-right text-muted">80% Complete</span>
                            </p>
                            <div class="progress progress-striped active">
                                <div class="progress-bar progress-bar-danger" role="progressbar" aria-valuenow="80" aria-valuemin="0" aria-valuemax="100" style="width: 80%">
                                    <span class="sr-only">80% Complete (danger)</span>
                                </div>
                            </div>
                        </div>
                    </a>
                </li>
                <li class="divider"></li>
                <li>
                    <a class="text-center" href="#">
                        <strong>See All Tasks</strong>
                        <i class="fa fa-angle-right"></i>
                    </a>
                </li>
            </ul>
            <!-- /.dropdown-tasks -->
        </li>
        <!-- /.dropdown -->


            <!-- NOTIFICATIONS -->

        <li class="dropdown">
            <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                <i class="fa fa-bell fa-fw"></i>  <i class="fa fa-caret-down"></i>
            </a>
            <ul class="dropdown-menu dropdown-alerts">
                <li data-ng-repeat="notification in notificationCtrl.notifications">
                    <a href="#">
                        <div>
                            <i class="fa fa-tasks fa-fw"></i> {{notification.text}}
                            <span class="pull-right text-muted small">{{notification.time}}</span>
                        </div>
                    </a>
                    <div class="divider"></div>
                </li>

                <!--
                <li>
                    <a class="text-center" href="#">
                        <strong>See All Notifications</strong>
                        <i class="fa fa-angle-right"></i>
                    </a>
                </li>
                -->
            </ul>
            <!-- /.dropdown-alerts -->
        </li>


        <!-- /.dropdown -->
        <li class="dropdown">
            <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                <i class="fa fa-user fa-fw"></i>  <i class="fa fa-caret-down"></i>
            </a>
            <ul class="dropdown-menu dropdown-user">
                <li><a href="#"><i class="fa fa-user fa-fw"></i> User Profile</a>
                </li>
                <li><a href="#"><i class="fa fa-gear fa-fw"></i> Settings</a>
                </li>
                <li class="divider"></li>
                <li><a href="#" data-ng-click="navigationCtrl.logout()"><i class="fa fa-sign-out fa-fw"></i> Logout</a>
                </li>
            </ul>
            <!-- /.dropdown-user -->
        </li>
        <!-- /.dropdown -->
        <!-- /.dropdown -->
        <li class="dropdown" id="theme-dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown"><i class="fa fa-gears icon-large"></i> <b class="caret"></b></a>
            <ul class="dropdown-menu">
                <li><a href="#" class="change-style-menu-item" rel="cyborg"><i class="fa fa-camera-retro"></i> Cyborg (Default)</a></li>
                <li><a href="#" class="change-style-menu-item" rel="cerulean"><i class="fa fa-camera-retro"></i> Cerulean</a></li>
                <li><a href="#" class="change-style-menu-item" rel="cosmo"><i class="fa fa-camera-retro"></i> Cosmo</a></li>
                <li><a href="#" class="change-style-menu-item" rel="flatly"><i class="fa fa-camera-retro"></i> Flatly</a></li>
                <li><a href="#" class="change-style-menu-item" rel="journal"><i class="fa fa-camera-retro"></i> Journal</a></li>
                <li><a href="#" class="change-style-menu-item" rel="readable"><i class="fa fa-camera-retro"></i> Readable</a></li>
                <li><a href="#" class="change-style-menu-item" rel="slate"><i class="fa fa-camera-retro"></i> Slate</a></li>
                <li><a href="#" class="change-style-menu-item" rel="spacelab"><i class="fa fa-camera-retro"></i> Spacelab</a></li>
            </ul>
        </li>
        <!-- /.dropdown -->
    </ul>
    <!-- /.navbar-top-links -->

    <div class="navbar-default sidebar" role="navigation">
        <div class="sidebar-nav navbar-collapse">
            <ul class="nav" id="side-menu">
                <li class="sidebar-search">
                    <div class="input-group custom-search-form">
                        <input type="text" class="form-control" placeholder="Search...">
                        <span class="input-group-btn">
                            <button class="btn btn-default" type="button">
                                <i class="fa fa-search"></i>
                            </button>
                        </span>
                    </div>
                    <!-- /input-group -->
                </li>
                <li>
                    <a ui-sref="overview"><i class="fa fa-bar-chart-o fa-fw"></i> Usage</a>
                </li>
                <li>
                    <a ui-sref="rate"><i class="fa fa-bar-chart-o fa-fw"></i> Rate</a>
                </li>
                <li>
                    <a ui-sref="charge"><i class="fa fa-bar-chart-o fa-fw"></i> Charge</a>
                </li>
                <li>
                    <a ui-sref="bills"><i class="fa fa-edit fa-fw"></i> Bills</a>
                </li>
                <li>
                    <a ui-sref="cloudservices"><i class="fa fa-cloud fa-fw"></i> Cloud Services</a>
                </li>
                <li data-ng-if="navigationCtrl.showAdminNavigation()">
                    <a href="#"><i class="fa fa-wrench fa-fw"></i> UDR Configuration<span class="fa arrow"></span></a>
                    <ul class="nav nav-second-level collapse in" aria-expanded="true">
                        <li>
                            <a ui-sref="admin-users"><i class="fa fa-users fa-fw"></i> User Management</a>
                        </li>
                        <li>
                            <a ui-sref="admin-meters"><i class="fa fa-wrench fa-fw"></i> Meter Configuration</a>
                        </li>
                    </ul>
                </li>

                <li data-ng-if="navigationCtrl.showAdminNavigation()">
                    <a href="#"><i class="fa fa-wrench fa-fw"></i> RC Configuration<span class="fa arrow"></span></a>
                    <ul class="nav nav-second-level collapse in" aria-expanded="true">
                        <li>
                            <a ui-sref="admin-rate"><i class="fa fa-wrench fa-fw"></i> Rate</a>
                        </li>
                    </ul>
                </li>

                <li data-ng-if="navigationCtrl.showAdminNavigation()">
                    <a href="#"><i class="fa fa-wrench fa-fw"></i> Billing Configuration<span class="fa arrow"></span></a>
                    <ul class="nav nav-second-level collapse in" aria-expanded="true">
                        <li>
                            <a ui-sref="admin-billing"><i class="fa fa-btc fa-fw"></i> Billing</a>
                        </li>
                    </ul>
                </li>

                <li>
                    <a href="#" data-ng-click="navigationCtrl.logout()"><i class="fa fa-sign-out fa-fw"></i> Logout</a>
                </li>
            </ul>
        </div>
        <!-- /.sidebar-collapse -->
    </div>
    <!-- /.navbar-static-side -->

    <script>
    $(function () {
        $('#side-menu').metisMenu();
    });
    </script>

</nav>
